@model IEnumerable<Fictional_Customers.Models.Staff>

@{
    ViewData["Title"] = "Index";
}

<h1>Staff</h1>

<div class="text-end">
            <a asp-action="Create" class="btn btn-primary"> <i class="bi bi-plus-circle"></i> &nbsp; Create New Assignment</a>
        </div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNmr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNmr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignments.Company)
            </td>
            <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Edit" asp-route-id="@item.StaffId" class="btn btn-success"><i class="bi bi-pencil-square"></i> &nbsp; Edit</a> 
                        <a asp-action="Details" asp-route-id="@item.StaffId" class="btn btn-primary" ><i class="bi bi-info-square"></i> &nbsp; Info</a> 
                        <a asp-action="Delete" asp-route-id="@item.StaffId" class="btn btn-danger"><i class="bi bi-trash"></i> &nbsp; Delete</a>
                    }  
            </td>
        </tr>
}
    </tbody>
</table>
