@model Fictional_Customers.Models.Assignments

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Assignments</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgLang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgLang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AssignmentsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
